Repository boostcampwm-2021/WEB25-JustUs, pull requests merged in 2021-11, with the labels that each got.

#35 사이드바 디자인 구현
  frontend/.eslintrc
  frontend/craco.config.js
  frontend/package.json
  frontend/public/icons/add-album.svg
  frontend/public/icons/add-group.svg
  frontend/public/icons/arrow-down.svg
  frontend/public/icons/menu.svg
  frontend/public/icons/settings.svg
  frontend/src/App.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/components/Styles/Color/index.ts
  frontend/src/pages/Main/Index.tsx
  frontend/tsconfig.json
  frontend/tsconfig.paths.json
  frontend/yarn.lock
Labels: 🎨 Frontend, 👨‍👩‍👧‍👦 그룹, 🌄 앨범

#39 로그인 페이지 구현
  frontend/package.json
  frontend/public/img/btnG_완성형.png
  frontend/public/img/github_icon.png
  frontend/public/img/glass.jpg
  frontend/public/img/life_is_travel.png
  frontend/public/img/podo.png
  frontend/public/img/sand.jpg
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/pages/Login/Index.tsx
  frontend/src/styles/GlobalStyle.tsx
  frontend/yarn.lock
Labels: 🎨 Frontend, 🍥 로그인

#36 CI/CD - Dockerfile 작성
  .gitignore
  backend/.gitignore
  backend/.prettierrc
  backend/Dockerfile
  backend/Dockerfile.dev
  backend/ormconfig.js
  backend/src/app.module.ts
  backend/src/user/controller/user.controller.spec.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/service/user.service.spec.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  docker-compose.yml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/nginx/default.conf
  mysql/.gitignore
  mysql/Dockerfile
  mysql/my.cnf
  mysql/sqls/initialize.sql
  nginx/Dockerfile
  nginx/default.conf
Labels: 🦴 Devops

#38 Modal Manger 구현
  frontend/public/index.html
  frontend/src/App.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#41 Styles 폴더 craco alias 적용
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/Index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/styles/Color/index.ts
  frontend/src/styles/StyledComponents/GlobalStyle.tsx
  frontend/tsconfig.paths.json
Labels: 🎨 Frontend

#48 헤더 UI
  frontend/public/icons/menu.svg
  frontend/public/icons/profile.svg
  frontend/public/icons/search.svg
  frontend/src/components/Header/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🎨 Frontend, 🧐 검색

#47 네이버 지도
  frontend/package.json
  frontend/src/components/Map/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/styles/StyledComponents/index.ts
  frontend/yarn.lock
Labels: 🎨 Frontend, 🗺 지도

#45 그룹 생성, 참가, 설정 모달 구현
  frontend/package.json
  frontend/public/icons/clear.svg
  frontend/public/icons/person.svg
  frontend/src/action/index.ts
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/AddGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupModal.ts
  frontend/src/reducer/index.ts
  frontend/src/store/index.ts
  frontend/src/styles/Color/index.ts
  frontend/yarn.lock
Labels: 🎨 Frontend, 👨‍👩‍👧‍👦 그룹

#46 이미지 업로드 모달 구현
  frontend/package.json
  frontend/public/icons/add-photo.svg
  frontend/public/icons/delete.svg
  frontend/public/icons/next.svg
  frontend/public/icons/x.svg
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/yarn.lock
Labels: 🎨 Frontend, 📝게시글

#56 Carousel구현 & Modal Manager 리팩토링
  frontend/public/icons/prev.svg
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/CloseModal/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/AddGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/UploadModal.ts
  frontend/src/reducer/index.ts
  frontend/src/styles/Color/index.ts
Labels: 🎨 Frontend, 📝게시글

#53 사이드바에서 그룹과 관련된 부분 수정/보완
  .DS_Store
  frontend/public/icons/arrow-right.svg
  frontend/public/icons/crying-podo.png
  frontend/public/icons/settings.svg
  frontend/public/img/dummy-group1.png
  frontend/public/img/dummy-group2.png
  frontend/public/img/dummy-group3.png
  frontend/src/action/GroupAction.ts
  frontend/src/action/GroupModal.ts
  frontend/src/action/index.ts
  frontend/src/components/Header/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/AddGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupModalReducer.ts
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/styles/Color/index.ts
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 👨‍👩‍👧‍👦 그룹

#57 Nest init
  backend/.gitignore
  backend/ormconfig.js
  backend/package.json
  backend/src/app.module.ts
  backend/src/configs/typeorm.config.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
  backend/yarn.lock
  docker-compose.yml
Labels: ✨ Backend

#58 앨범 추가 구현
  .DS_Store
  .gitignore
  frontend/public/icons/more-vert.svg
  frontend/src/action/GroupModal.ts
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/reducer/GroupModalReducer.ts
  frontend/src/reducer/GroupReducer.ts
Labels: 🎨 Frontend, 🌄 앨범

#59 게시글 업로드 모달에서 정보 입력 레이아웃 구현
  frontend/public/icons/location.svg
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#60 검색 리스트, 검색 폼 및 리팩토링
  frontend/.prettierrc
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/reducer/ProfileModal.ts
  frontend/src/reducer/index.ts
Labels: 🎨 Frontend, 👻 회원정보, 🧐 검색

#63 앨범 수정/삭제 모달 구현
  frontend/public/icons/add-album.svg
  frontend/public/icons/arrow-down.svg
  frontend/public/icons/arrow-right.svg
  frontend/public/icons/more-vert.svg
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/UploadModal.ts
Labels: 🎨 Frontend, 🌄 앨범

#64 캐러셀 모듈화
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#75 지도에 마커 추가
  frontend/public/icons/podo.png
  frontend/src/components/Map/Markers/index.tsx
  frontend/src/components/Map/index.tsx
Labels: 🎨 Frontend, 🗺 지도

#76 해시태그에 배경색 스타일링
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#96 사이드바 드래그/드랍 구현
  frontend/src/App.tsx
  frontend/src/action/GroupAction.ts
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/reducer/GroupReducer.ts
Labels: 🎨 Frontend, 💈Sidebar

#95 장소 검색 리스트 출력, 무한 스크롤 구현
  frontend/public/icons/arrow-left.svg
  frontend/public/index.html
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#104 해시태그 추천 구현
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
Labels: 🎨 Frontend, 🧐 검색

#108 앨범 생성, 수정, 삭제 API 구현
  backend/src/album/album.entity.ts
  backend/src/album/album.module.ts
  backend/src/album/album.repository.ts
  backend/src/album/controller/album.controller.spec.ts
  backend/src/album/controller/album.controller.ts
  backend/src/album/service/album.service.spec.ts
  backend/src/album/service/album.service.ts
  backend/src/app.module.ts
  backend/src/dto/album/albumInfo.ts
  backend/src/dto/album/createAlbumRequest.dto.ts
  backend/src/dto/album/updateAlbumInfoRequest.dto.ts
  backend/src/group/group.entity.ts
  backend/src/post/post.entity.ts
Labels: ✨ Backend, 🌄 앨범

#109 지도 관련 작업
  frontend/src/components/Map/Markers/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
Labels: 🎨 Frontend, 🗺 지도

#110 Fix: merge 오류 해결
  frontend/src/components/Map/index.tsx
Labels: 🐞 Bug, 🎨 Frontend

#111 Sidebar&Modal Animation 작업
  frontend/src/components/Header/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/AddGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
Labels: 🎨 Frontend, 💈Sidebar

#114 게시글 조회, 생성, 수정 API 구현
  backend/src/album/album.entity.ts
  backend/src/album/service/album.service.ts
  backend/src/app.module.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/dto/group/getGroupInfoResponse.dto.ts
  backend/src/dto/image/imageInfo.ts
  backend/src/dto/post/createPostRequest.dto.ts
  backend/src/dto/post/getPostInfoResponse.dto.ts
  backend/src/dto/post/postInfo.ts
  backend/src/dto/post/updatePostInfoRequest.dto.ts
  backend/src/dto/user/userInfo.dto.ts
  backend/src/group/group.module.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/image/image.entity.ts
  backend/src/image/image.module.ts
  backend/src/image/image.repository.ts
  backend/src/image/service/image.service.ts
  backend/src/post/controller/post.controller.spec.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.entity.ts
  backend/src/post/post.module.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.spec.ts
  backend/src/post/service/post.service.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.repository.ts
Labels: ✨ Backend, 📝게시글

#113 지도 좌표 클러스터링
  frontend/public/MarkerClustering.js
  frontend/public/icons/podo-many.png
  frontend/public/icons/podo-three.png
  frontend/public/index.html
  frontend/src/components/Map/Markers/index.tsx
  frontend/src/components/Map/SetClustering/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Map/tempData.ts
Labels: 🎨 Frontend, 🗺 지도

#112 게시글 조회 모달에 수정/삭제 더보기 모달 구현 & 게시글이 선택될 때, 해당 게시글 위치로 지도를 이동시키는 기능 구현
  frontend/public/img/post1-1.jpeg
  frontend/public/img/post1-2.jpeg
  frontend/public/img/post1-3.jpeg
  frontend/public/img/post2-1.jpeg
  frontend/public/img/post2-2.jpeg
  frontend/public/img/post2-3.jpeg
  frontend/public/img/post2-4.jpeg
  frontend/public/img/post3-1.jpeg
  frontend/public/img/post3-2.jpeg
  frontend/public/img/post3-3.jpeg
  frontend/public/img/post3-4.jpeg
  frontend/public/img/post3-5.jpeg
  frontend/public/img/post4-1.jpeg
  frontend/public/img/post5-1.jpeg
  frontend/public/img/post6-1.jpeg
  frontend/public/img/post7-1.jpeg
  frontend/src/components/Map/dummyPosts.ts
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/Modal.ts
Labels: 🎨 Frontend, 📝게시글, 🗺 지도

#115 Fix: 마커 draggable 설정 변경
  frontend/src/components/Map/Markers/index.tsx
Labels: 🐞 Bug

#125 남은 게시글 API 구현 및 JWT refreshToken 생성, 로그아웃 구현
  backend/src/album/album.entity.ts
  backend/src/album/service/album.service.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/guard/jwt-auth-guard.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/dto/group/attendGroupRequest.dto.ts
  backend/src/dto/group/createGroupRequest.dto.ts
  backend/src/dto/group/getAlbumsResponse.dto.ts
  backend/src/dto/group/leaveGroupRequest.dto.ts
  backend/src/dto/post/postInfo.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.entity.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/image/service/image.service.ts
  backend/src/myRequest/customRequest.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.entity.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
Labels: ✨ Backend, 🍥 로그인, 📝게시글

#126 게시글 삭제 구현
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/reducer/GroupReducer.ts
Labels: 🎨 Frontend, 📝게시글

#127 게시글 수정 구현
  frontend/src/components/Map/dummyPosts.ts
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Modal/PostUpdateModal/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/Modal.ts
Labels: 🎨 Frontend, 📝게시글

#129 마우스 오른쪽 버튼을 통해 게시글을 추가 시 장소명 입력
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/reducer/AddressReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/reducer/index.ts
Labels: 🎨 Frontend, 🗺 지도

#130 RootState 중복 제거
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🐞 Bug, 🎨 Frontend

#140 redux-saga 학습 및 그룹 리스트 조회 API 초안 작성
  frontend/package.json
  frontend/src/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/index.tsx
  frontend/src/store/index.ts
  frontend/yarn.lock
Labels: 🎨 Frontend, 👨‍👩‍👧‍👦 그룹

#141 마커 클러스터링 리스트 작업
  frontend/public/MarkerClustering.js
  frontend/src/components/Map/Markers/index.tsx
  frontend/src/components/Map/SetClustering/index.tsx
  frontend/src/components/Map/dummyPosts.ts
  frontend/src/components/Map/index.tsx
  frontend/src/components/Map/tempData.ts
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostListModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/reducer/Modal.ts
Labels: 🎨 Frontend, 🗺 지도

#136 UI 통일
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/styles/StyledComponents/GlobalStyle.tsx
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 🏞 Design

#137 스웨거 적용 및 Object Storage 연동
  backend/package.json
  backend/src/album/album.entity.ts
  backend/src/album/controller/album.controller.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/custom/myBaseEntity/timestampEntity.ts
  backend/src/custom/myFile/customFile.ts
  backend/src/custom/myRequest/customRequest.ts
  backend/src/dto/album/albumInfo.ts
  backend/src/dto/album/createAlbumRequest.dto.ts
  backend/src/dto/group/attendGroupRequest.dto.ts
  backend/src/dto/group/getAlbumsResponse.dto.ts
  backend/src/dto/group/getGroupInfoResponse.dto.ts
  backend/src/dto/group/groupInfo.ts
  backend/src/dto/image/imageInfo.ts
  backend/src/dto/post/createPostRequest.dto.ts
  backend/src/dto/post/getPostInfoResponse.dto.ts
  backend/src/dto/post/postInfo.ts
  backend/src/dto/post/updatePostInfoRequest.dto.ts
  backend/src/dto/user/userInfo.dto.ts
  backend/src/dto/user/userInfoResponse.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.entity.ts
  backend/src/image/image.entity.ts
  backend/src/image/service/image.service.ts
  backend/src/main.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.entity.ts
  backend/src/post/service/post.service.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/user.entity.ts
  backend/yarn.lock
Labels: ✨ Backend, 🍥 로그인, 📝게시글

#150 UI 통일(2)
  frontend/fonts.d.ts
  frontend/package.json
  frontend/public/icons/trash.svg
  frontend/public/icons/update.svg
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostListModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/index.tsx
  frontend/src/styles/StyledComponents/GlobalStyle.tsx
  frontend/src/styles/StyledComponents/index.ts
  frontend/src/styles/fonts/NanumDaCaeSaRang.woff
  frontend/src/styles/fonts/NanumDaCaeSaRang.woff2
  frontend/tsconfig.json
  frontend/webfontloader.d.ts
  frontend/yarn.lock
Labels: 🎨 Frontend, 🏞 Design

#151 잘못된 URL 입력시 예외 페이지로 라우팅 구현
  frontend/src/Router.tsx
  frontend/src/pages/NotFound/index.tsx
Labels: 🎨 Frontend

#152 클러스터링 마커 리스트 모달 구현
  frontend/public/MarkerClustering.js
  frontend/src/components/Map/SetClustering/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/ModalManager/index.tsx
  frontend/src/components/Modal/PostListModal/index.tsx
Labels: 🎨 Frontend, 🗺 지도

#153 사이드바 순서 API 및 앨범 삭제 CASCADE 제거
  backend/src/album/album.entity.ts
  backend/src/album/album.module.ts
  backend/src/album/album.repository.ts
  backend/src/album/controller/album.controller.ts
  backend/src/album/service/album.service.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/dto/album/deleteAlbumRequest.dto.ts
  backend/src/dto/group/updateAlbumOrderRequest.dto.ts
  backend/src/dto/post/shiftPostRequest.dto.ts
  backend/src/dto/user/updateGroupOrderRequest.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.entity.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/main.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.entity.ts
  backend/src/post/service/post.service.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
Labels: ✨ Backend, 👨‍👩‍👧‍👦 그룹, 🌄 앨범

#154 로그인 API 연결 및 유저 정보 저장
  frontend/package.json
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/reducer/UserReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/index.tsx
  frontend/src/sagas/user.ts
  frontend/yarn.lock
Labels: 🎨 Frontend, 🍥 로그인

#160 API 조회시 사이드바 순서 보장 및 이미지 저장 API는 form-data로 변경
  backend/src/album/album.module.ts
  backend/src/album/service/album.service.ts
  backend/src/dto/group/getAlbumsResponse.dto.ts
  backend/src/dto/group/groupInfo.ts
  backend/src/dto/post/createPostRequest.dto.ts
  backend/src/dto/post/getPostInfoResponse.dto.ts
  backend/src/dto/post/updatePostInfoRequest.dto.ts
  backend/src/dto/user/getGroupsResponse.dto.ts
  backend/src/dto/user/updateUserInfoRequest.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.entity.ts
  backend/src/group/group.module.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/image/service/image.service.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.module.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.entity.ts
  backend/src/user/user.module.ts
  backend/src/user/user.repository.ts
Labels: ✨ Backend, 📝게시글, 👨‍👩‍👧‍👦 그룹, 🌄 앨범

#163 유저 API 로직 연결(유저 정보 수정)
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/reducer/UserReducer.ts
  frontend/src/sagas/user.ts
  frontend/src/styles/StyledComponents/GlobalStyle.tsx
Labels: 🎨 Frontend

#161 로그아웃, 유저 상태에 따라 메인/로그인 페이지 리다이렉트 처리
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/reducer/UserReducer.ts
  frontend/src/sagas/user.ts
Labels: 🎨 Frontend, 👻 회원정보

#162 Feat: 앨범 생성 API 연결
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/reducer/AlbumReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/index.tsx
Labels: 🎨 Frontend, 🌄 앨범

#164 포스트생성API연결
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/index.tsx
  frontend/src/sagas/post.ts
Labels: 🎨 Frontend, 📝게시글

#166 회원 정보 수정 API 변경
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/sagas/user.ts
Labels: 🎨 Frontend

#167 포스트수정 API연결
  frontend/src/components/Map/dummyPosts.ts
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Modal/PostUpdateModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
Labels: 🎨 Frontend, 📝게시글

#168 그룹 관련 API 로직 작성
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/user.ts
Labels: 🎨 Frontend

#169 리다이렉트 시 3번 렌더링되는 문제 해결
  frontend/src/Router.tsx
  frontend/src/reducer/UserReducer.ts
Labels: 🐞 Bug, 🎨 Frontend, 👻 회원정보

#170 앨범명 수정 및 앨범 삭제
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/reducer/AlbumReducer.ts
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/group.ts
Labels: 🎨 Frontend, 🌄 앨범

#171 해시태그 생성 및 기존 API 수정
  backend/src/album/controller/album.controller.ts
  backend/src/album/service/album.service.ts
  backend/src/app.module.ts
  backend/src/dto/album/deleteAlbumRequest.dto.ts
  backend/src/dto/group/createGroupResponse.dto.ts
  backend/src/dto/group/updateGroupInfoResponse.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.entity.ts
  backend/src/group/service/group.service.ts
  backend/src/hashtag/hashtag.entity.ts
  backend/src/hashtag/hashtag.module.ts
  backend/src/hashtag/hashtag.repository.ts
  backend/src/hashtag/service/hashtag.service.spec.ts
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/post/post.entity.ts
  backend/src/post/post.module.ts
  backend/src/post/service/post.service.ts
Labels: ✨ Backend, 🧐 검색

#173 GroupId연결&라우트기능해제
  frontend/src/App.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend

#174 redirect 수정
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/index.tsx
Labels: 🎨 Frontend, 🍥 로그인

#175 API 핫픽스
  backend/src/album/controller/album.controller.ts
  backend/src/album/service/album.service.ts
  backend/src/dto/album/createAlbumResponse.dto.ts
  backend/src/dto/group/getAlbumsResponse.dto.ts
  backend/src/dto/user/updateUserInfoResponse.dto.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/service/user.service.ts
  frontend/src/reducer/GroupReducer.ts
Labels: ✨ Backend

#177 마커 클릭 시 상세 조회 모달 오픈
  frontend/src/components/Map/index.tsx
Labels: 🎨 Frontend

#178 Fix: router history.push 조건 변경
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/index.tsx
Labels: 🎨 Frontend, 🍥 로그인

#181 API 수정 및 그룹의 전체 해시태그 검색 API 구현
  backend/src/album/service/album.service.ts
  backend/src/dto/group/getHashTagsResponse.dto.ts
  backend/src/dto/post/updatePostInfoRequest.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/hashtag/hashtag.entity.ts
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/image/service/image.service.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.ts
Labels: ✨ Backend, 🌄 앨범, 🧐 검색

#183 jwt 에러처리 로직 추가 및 해시태그 클릭시 리스트 조회 API 구현
  backend/src/album/controller/album.controller.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/guard/jwt-auth-guard.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/dto/post/getSearchPostResponse.dto.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/service/group.service.ts
  backend/src/hashtag/hashtag.repository.ts
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/main.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/post.entity.ts
  backend/src/post/post.module.ts
  backend/src/post/service/post.service.ts
  backend/src/user/controller/user.controller.ts
Labels: ✨ Backend, 🍥 로그인, 🧐 검색

#185 포스트API 연결 추가 구현
  backend/src/dto/post/getPostInfoResponse.dto.ts
  backend/src/dto/user/userInfoResponse.dto.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.ts
  backend/src/user/service/user.service.ts
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Modal/PostUpdateModal/index.tsx
  frontend/src/reducer/AddressReducer.ts
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/reducer/UserReducer.ts
  frontend/src/sagas/post.ts
Labels: ✨ Backend, 🎨 Frontend, 📝게시글

#187 앨범, 포스트 관련 api 연결 작업
  backend/src/album/service/album.service.ts
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/reducer/AlbumReducer.ts
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/sagas/album.ts
Labels: 🎨 Frontend, 📝게시글, 🌄 앨범

#188 라우터 로직 이동
  frontend/src/Router.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🎨 Frontend

#208 해시태그 제거 시도 및 그룹 기본 이미지 지정
  backend/package.json
  backend/src/dto/group/updateGroupInfoRequest.dto.ts
  backend/src/group/service/group.service.ts
  backend/src/hashtag/hashtag.entity.ts
  backend/src/hashtag/hashtag.repository.ts
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/post/post.repository.ts
  backend/src/post/service/post.service.ts
  backend/yarn.lock
Labels: ✨ Backend, 👨‍👩‍👧‍👦 그룹

#210 토큰 유효성 검증 후 리다이렉트
  frontend/src/App.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/UserReducer.ts
Labels: 🎨 Frontend

#203 Design: 모달창 화면 크기 변화에 따라 밀리는 현상 수정
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#204 앨범 리스트 스크롤
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
Labels: 🎨 Frontend, 🌄 앨범

#211 헤더 및 그룹 생성 모달 스타일 변경
  frontend/public/icons/podo-many.jpeg
  frontend/src/components/Empty/index.tsx
  frontend/src/components/Header/Logo/index.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/group.ts
Labels: 🎨 Frontend

#205 남은 API(그룹: 해시태그 전체 조회, 앨범: 포스트 검색) 연결
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
Labels: 🎨 Frontend

#206 메인 페이지 이동시, 맨 위 그룹이 디폴트로 선택되도록 수정
  frontend/src/components/Sidebar/FirstDepth/index.tsx
Labels: 🎨 Frontend

#207 스타일링 수정
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/styles/icons/info.svg
  frontend/src/styles/icons/visibility.svg
Labels: 🎨 Frontend

#209 지도 위의 클러스터링 모달, 우클릭시 모달 닫기
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/MapReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/reducer/index.ts
Labels: 🎨 Frontend

#213 logging 추가 및 http 에러 filter 추가
  backend/Dockerfile.dev
  backend/src/app.module.ts
  backend/src/auth/guard/jwt-auth-guard.ts
  backend/src/configs/typeorm.config.ts
  backend/src/filter/httpException.filter.ts
  backend/src/main.ts
  backend/src/middlerware/logger.middleware.ts
Labels: ✨ Backend, Config

#218 jwt payload 추가, 중복 참여 에러 추가, 이미지 url 컬럼 변경
  backend/src/auth/guard/jwt-auth-guard.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/dto/group/groupInfo.ts
  backend/src/dto/user/updateUserInfoRequest.dto.ts
  backend/src/group/service/group.service.ts
  backend/src/image/image.entity.ts
  backend/src/image/service/image.service.ts
  backend/src/post/service/post.service.ts
  backend/src/user/user.entity.ts
Labels: ✨ Backend, 🍥 로그인, 📝게시글, 👨‍👩‍👧‍👦 그룹

#220 Refactor swagger 및 controller decorator
  backend/src/album/controller/album.controller.ts
  backend/src/album/swagger/createAlbum.swagger.ts
  backend/src/album/swagger/deleteAlbum.swagger.ts
  backend/src/album/swagger/index.ts
  backend/src/album/swagger/updateAlbumInfo.swagger.ts
  backend/src/custom/decorator/controller.decorator.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/swagger/attendGroup.swagger.ts
  backend/src/group/swagger/createGroup.swagger.ts
  backend/src/group/swagger/getAlbums.swagger.ts
  backend/src/group/swagger/getGroupInfo.swagger.ts
  backend/src/group/swagger/getHashTags.swagger.ts
  backend/src/group/swagger/index.ts
  backend/src/group/swagger/leaveGroup.swagger.ts
  backend/src/group/swagger/updateAlbumOrder.swagger.ts
  backend/src/group/swagger/updateGroupInfo.swagger.ts
  backend/src/post/controller/post.controller.ts
  backend/src/post/swagger/createPost.swagger.ts
  backend/src/post/swagger/deletePost.swagger.ts
  backend/src/post/swagger/getPostInfo.swagger.ts
  backend/src/post/swagger/getSearchPost.swagger.ts
  backend/src/post/swagger/index.ts
  backend/src/post/swagger/shiftPost.swagger.ts
  backend/src/post/swagger/updatePost.swagger.ts
  backend/src/user/controller/user.controller.ts
  backend/src/user/swagger/getGroups.swagger.ts
  backend/src/user/swagger/getUserInfo.swagger.ts
  backend/src/user/swagger/index.ts
  backend/src/user/swagger/updateGroupOrder.swagger.ts
  backend/src/user/swagger/updateUserInfo.swagger.ts
Labels: ✨ Backend

#219 게시글 생성 모달 및 캐러셀
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
Labels: 🎨 Frontend, 📝게시글

#221 PR 리뷰 받은 내용 수정
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/MapReducer.ts
  frontend/src/reducer/Modal.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
Labels: 🎨 Frontend

#224 디자인 CSS 수정
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/pages/Login/index.tsx
Labels: 🎨 Frontend, 🏞 Design

#222 빈 페이지와 그룹 모달 작업
  backend/src/dto/group/updateGroupInfoRequest.dto.ts
  frontend/public/icons/person.jpeg
  frontend/public/icons/person.svg
  frontend/public/icons/podo-many-high.png
  frontend/public/icons/podo-many.jpeg
  frontend/src/components/Empty/index.tsx
  frontend/src/components/Header/Logo/index.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/SpinnerReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/user.ts
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend

#223 토스트 메세지 구현
  backend/src/image/service/image.service.ts
  frontend/package.json
  frontend/public/index.html
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/ToastMessage/Error.tsx
  frontend/src/components/ToastMessage/Succeed.tsx
  frontend/src/components/ToastMessage/ToastManager.tsx
  frontend/src/components/ToastMessage/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/ToastReducer.ts
  frontend/src/reducer/index.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
  frontend/src/sagas/user.ts
  frontend/yarn.lock
Labels: 🎨 Frontend

#228 이미지 리사이징 사전 처리 및 main module 리팩토링
  backend/package.json
  backend/src/app.module.ts
  backend/src/configs/cors.config.ts
  backend/src/configs/global.config.ts
  backend/src/configs/index.ts
  backend/src/configs/s3.config.ts
  backend/src/configs/swagger.config.ts
  backend/src/custom/myFile/customFile.ts
  backend/src/group/controller/group.controller.ts
  backend/src/group/service/group.service.ts
  backend/src/image/service/image.service.ts
  backend/src/main.ts
  backend/src/post/controller/post.controller.ts
  backend/src/user/controller/user.controller.ts
  backend/yarn.lock
Labels: ✨ Backend, 📝게시글

#229 게시글 트랜잭션 처리
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/image/service/image.service.ts
  backend/src/post/service/post.service.ts
Labels: ✨ Backend, DB

#230 토스트 메세지 보완
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/ToastMessage/Error.tsx
  frontend/src/components/ToastMessage/Succeed.tsx
  frontend/src/components/ToastMessage/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🎨 Frontend

#231 지도 우클릭으로 생기는 게시물 생성 모달, 네이버맵의 InfoWindow 객체로 관리
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/MapReducer.ts
Labels: 🎨 Frontend

#233 모달 UI 변경
  frontend/public/icons/delete.svg
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/SearchResult/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 🏞 Design

#234 리사이즈 커스텀훅 & Empty 페이지 Style 수정 & 테마 로컬 스토리지 저장&스피너 구간 추가
  frontend/src/components/Empty/index.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/index.tsx
  frontend/src/components/Modal/PostUpdateModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/hooks/useResizeFile.ts
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/Theme.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
  frontend/src/styles/Color/index.ts
Labels: 🎨 Frontend

#235 게시글 모달
  frontend/src/components/Map/dummyPosts.ts
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 📝게시글, 🏞 Design

#236 유저, 그룹 오류 수정
  frontend/src/components/Empty/index.tsx
  frontend/src/components/Header/Logo/index.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/components/ToastMessage/Error.tsx
  frontend/src/components/ToastMessage/Succeed.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/sagas/group.ts
Labels: 🎨 Frontend

#237 Style 수정 및 버그 수정
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/ToastMessage/Error.tsx
  frontend/src/hooks/useResizeFile.ts
Labels: 🎨 Frontend

#243 API 수정, 트랜잭션 적용
  backend/package.json
  backend/src/album/service/album.service.ts
  backend/src/common/changeObject.ts
  backend/src/common/imageUrl.ts
  backend/src/dto/user/updateUserInfoRequest.dto.ts
  backend/src/group/group.module.ts
  backend/src/group/service/group.service.spec.ts
  backend/src/group/service/group.service.ts
  backend/src/hashtag/service/hashtag.service.ts
  backend/src/image/image.entity.ts
  backend/src/image/image.module.ts
  backend/src/image/image.repository.ts
  backend/src/image/service/image.service.ts
  backend/src/post/post.entity.ts
  backend/src/post/service/post.service.ts
  backend/src/user/service/user.service.spec.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.module.ts
Labels: ✨ Backend, ⚒ Refactor, Test

#251 해시태그 조회 API 및 jwt 개선
  backend/src/album/album.module.ts
  backend/src/auth/auth.module.ts
  backend/src/auth/controller/auth.controller.ts
  backend/src/auth/guard/jwt-auth-guard.ts
  backend/src/auth/guard/jwt-refreshToken-auth-guard.ts
  backend/src/auth/service/auth.service.ts
  backend/src/auth/strategy/naver.strategy.ts
  backend/src/configs/s3.config.ts
  backend/src/group/group.module.ts
  backend/src/group/group.repository.ts
  backend/src/group/service/group.service.ts
  backend/src/post/post.module.ts
  backend/src/user/service/user.service.ts
  backend/src/user/user.module.ts
Labels: ✨ Backend, 🍥 로그인

#253 리팩토링, 코드 보완, 액세스 토큰 재발급 후 API 재요청 로직 작성
  backend/src/auth/guard/jwt-refreshToken-auth-guard.ts
  backend/src/auth/service/auth.service.ts
  backend/src/user/service/user.service.ts
  frontend/src/action/ModalAction.ts
  frontend/src/api/album.ts
  frontend/src/api/group.ts
  frontend/src/api/index.ts
  frontend/src/api/post.ts
  frontend/src/api/user.ts
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Header/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/ModalReducer.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/index.tsx
  frontend/src/sagas/post.ts
  frontend/src/sagas/user.ts
  frontend/src/styles/Color/index.ts
Labels: 🎨 Frontend, ⚒ Refactor

#252 코드 최적화 작업
  frontend/src/App.tsx
  frontend/src/Router.tsx
  frontend/src/action/ModalAction.ts
  frontend/src/components/Empty/index.tsx
  frontend/src/components/Header/Logo/index.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Map/Markers/index.tsx
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Map/SetClustering/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/CloseModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/Carousel/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/ModalSub.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Modal/PostShowModal/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/CreateGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/InnerModal/JoinGroupModal.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/Modal/index.tsx
  frontend/src/components/Sidebar/FirstDepth/AddGroupButton/index.tsx
  frontend/src/components/Sidebar/FirstDepth/Group/index.tsx
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/components/ToastMessage/Error.tsx
  frontend/src/components/ToastMessage/Succeed.tsx
  frontend/src/components/ToastMessage/ToastManager.tsx
  frontend/src/constants/index.ts
  frontend/src/hooks/useResizeFile.ts
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/NotFound/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/ModalReducer.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/group.ts
  frontend/src/sagas/post.ts
  frontend/src/sagas/user.ts
  frontend/src/styles/Color/index.ts
Labels: 🎨 Frontend
