Repository boostcampwm-2021/WEB25-JustUs, pull requests merged in 2021-12, with the labels that each got.

#260 테스트 코드 작성
  backend/src/album/service/album.service.spec.ts
  backend/src/dto/post/getPostInfoResponse.dto.ts
  backend/src/dto/post/getSearchPostResponse.dto.ts
  backend/src/group/service/group.service.spec.ts
  backend/src/hashtag/service/hashtag.service.spec.ts
  backend/src/post/service/post.service.spec.ts
  backend/src/post/service/post.service.ts
Labels: ✨ Backend, Test

#259 삭제 모달 및 axios 수정, 모달 UI 정리
  frontend/src/api/album.ts
  frontend/src/api/group.ts
  frontend/src/api/index.ts
  frontend/src/api/post.ts
  frontend/src/api/user.ts
  frontend/src/components/Modal/DeleteModal/index.tsx
  frontend/src/components/Modal/PostDeleteModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/DeleteAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/lib/customAxios.ts
  frontend/src/sagas/album.ts
  frontend/src/sagas/group.ts
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 🏞 Design, ⚒ Refactor

#256 디자인 수정
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Map/Modal/UploadAddressModal/index.tsx
  frontend/src/components/Map/Modal/index.tsx
  frontend/src/components/Map/index.tsx
Labels: 🎨 Frontend

#257 리액트 컴포넌트 최적화
  frontend/src/components/Sidebar/FirstDepth/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Sidebar/index.tsx
  frontend/src/pages/Main/index.tsx
Labels: 🎨 Frontend, ⚒ Refactor

#258 렌더링 최적화
  frontend/public/index.html
  frontend/src/action/GroupModalAction.ts
  frontend/src/action/ModalAction.ts
  frontend/src/action/index.ts
  frontend/src/components/Header/Profile/Modal/ProfileModal.tsx
  frontend/src/components/Header/Profile/index.tsx
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AddAlbum/InputModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
  frontend/src/components/Sidebar/SecondDepth/index.tsx
  frontend/src/components/Spinner/index.tsx
  frontend/src/constants/index.ts
  frontend/src/pages/Login/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupModalReducer.ts
  frontend/src/reducer/MapReducer.ts
  frontend/src/reducer/ModalReducer.ts
  frontend/src/reducer/index.ts
Labels: 🎨 Frontend

#262 오류 수정
  frontend/src/components/Map/index.tsx
  frontend/src/components/Modal/PostShowModal/PostInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Album/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/index.tsx
Labels: 🎨 Frontend

#263 프론트 소소한 작업
  frontend/src/action/ModalAction.ts
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/pages/Main/index.tsx
  frontend/src/reducer/GroupReducer.ts
  frontend/src/reducer/ModalReducer.ts
  frontend/src/sagas/group.ts
Labels: 🎨 Frontend, ⚒ Refactor

#264 모달 UI 통일
  frontend/src/components/Header/Profile/Modal/InnerModal/ThemeModal.tsx
  frontend/src/components/Header/Profile/Modal/InnerModal/UserInfoModal.tsx
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
  frontend/src/components/Modal/DeleteModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadImageModal/index.tsx
  frontend/src/components/Modal/PostCreateModal/UploadInfoModal/index.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Header/Modal/InnerModal/UpdateAlbumModal.tsx
  frontend/src/components/Sidebar/SecondDepth/AlbumList/Post/index.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupInfoModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/Modal/GroupSettingModal.tsx
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/styles/StyledComponents/index.ts
Labels: 🎨 Frontend, 🏞 Design, ⚒ Refactor

#266 그룹 정보 수정시 이미지 가져오지 않는 현상 해결
  backend/src/domain/group/group.service.ts
Labels: ✨ Backend

#268 Desigh: search bar 화면 비율 조정 시 수정
  frontend/src/components/Header/Profile/Search/Recommend/index.tsx
  frontend/src/components/Header/Profile/Search/SearchList/index.tsx
  frontend/src/components/Header/Profile/Search/index.tsx
Labels: 🎨 Frontend, 🧐 검색, 🏞 Design

#269 두번째 사이드바 그룹명 가운데 정렬 제거
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
Labels: 🎨 Frontend

#271 Chore: logger 제거
  frontend/src/index.tsx
Labels: Log

#272 두번째 사이드가 그룹명 가운데 정렬
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
Labels: 🎨 Frontend, ⚒ Refactor

#274 두번째 사이드바 그룹명 패딩 추가
  frontend/src/components/Sidebar/SecondDepth/SettingGroup/index.tsx
  frontend/src/sagas/user.ts
Labels: 🎨 Frontend

#277 리프레시 토큰 로컬스토리지 저장 방식 구현
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/auth/guard/jwt-refreshToken-auth-guard.ts
  frontend/src/api/index.ts
  frontend/src/lib/cookie.ts
  frontend/src/pages/Main/index.tsx
  frontend/src/sagas/user.ts
Labels: ✨ Backend, 🎨 Frontend

#278 dto, entity 리팩토링
  backend/src/domain/album/album.controller.ts
  backend/src/domain/album/album.entity.ts
  backend/src/domain/album/album.service.ts
  backend/src/domain/album/dto/createAlbumResponse.dto.ts
  backend/src/domain/album/spec/album.service.spec.ts
  backend/src/domain/auth/auth.controller.ts
  backend/src/domain/auth/spec/auth.service.spec.ts
  backend/src/domain/group/dto/createGroupResponse.dto.ts
  backend/src/domain/group/dto/getAlbumsResponse.dto.ts
  backend/src/domain/group/dto/getGroupInfoResponse.dto.ts
  backend/src/domain/group/dto/updateGroupInfoResponse.dto.ts
  backend/src/domain/group/group.controller.ts
  backend/src/domain/group/group.entity.ts
  backend/src/domain/group/group.service.ts
  backend/src/domain/group/spec/group.service.spec.ts
  backend/src/domain/hashtag/hashtag.service.ts
  backend/src/domain/post/dto/getPostInfoResponse.dto.ts
  backend/src/domain/post/dto/getSearchPostResponse.dto.ts
  backend/src/domain/post/post.controller.ts
  backend/src/domain/post/post.entity.ts
  backend/src/domain/post/post.repository.ts
  backend/src/domain/post/post.service.ts
  backend/src/domain/post/spec/post.service.spec.ts
  backend/src/domain/user/dto/getGroupsResponse.dto.ts
  backend/src/domain/user/dto/updateUserInfoResponse.dto.ts
  backend/src/domain/user/dto/userInfoResponse.dto.ts
  backend/src/domain/user/spec/user.service.spec.ts
  backend/src/domain/user/user.controller.ts
  backend/src/domain/user/user.service.ts
  docker-compose.yml
Labels: ✨ Backend, ⚒ Refactor
